.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

#horarios {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  font-family: "Bona Nova SC", serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 100%;
}

#horarios caption {
  font-weight: bold;
  padding: 10px;
  background-color: #606060;
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 1px;
}

#horarios caption span {
  font-weight: normal;
  margin-left: 10px;
  font-size: 0.9em;
}

#horarios th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 12px;
  font-size: 1em;
}

#horarios td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

#horarios .ce {
  font-weight: bold;
  width: 40%;
  background-color: #f9f9f9;
}

#horarios .cd {
  width: 60%;
}

#horarios tr:nth-child(even) {
  background-color: #fcfcfc;
}

#horarios tr:hover td {
  background-color: #ffe5e5;
  transition: background-color 0.2s ease;
}