@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

#horario {
    font-family: "Bona Nova SC", serif;
    border: 1px solid #606060;
    margin-left: auto;
    margin-right: auto;
}

#horario td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#horario td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#horario td.cd {
    background-color: #cecece;
}

table#horario caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#horario caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}