@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

#conteudo {
    text-align: center; 
}

#titulo-judo {
    margin-bottom: 20px; 
}

#conteudo h4 {
    font-family: "Baskervville SC", serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#conteudo img {
    width: 200px;
    height: 200px; 
    object-fit: cover;
    border: 2px solid #474747;
    transition: transform 0.3s ease, border 0.3s ease;
    display: inline-block;
    margin: 10px 10px 0 10px;
}

#conteudo img:hover {
    transform: scale(1.2);
    border: 2px solid #474747;
}

#conteudo p {
    text-align: center;
}